
<div class="row">
  <div class="col-3">
    <label >categories</label>
    <div class="list-group">
      <a *ngFor="let c of categories$ |async"
          class="list-group-item list-group-item-action"
          routerLink="/"
          [queryParams]="{ category:hel}"
          >{{c.name}}</a>
    </div>  
  </div>
  <div class="col">

    <div class="container">
      <div class="row row-cols-3 cols-md-3">
        <div class="col" *ngFor="let pr of Products$ |async">
          <div class="card" style="width: 15rem;">
          <img [src]="pr.imageUrl" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{pr.title}}</h5>
            <p class="card-text">{{pr.price | currency:'USD':true}}</p>
            <a routerLink="/shoping-cart" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
        
      </div>
  </div>
</div>


  
  