<p>
    <button class="btn btn-primary"  routerLink='/admin/products/new' id="posit">New Products</button>
</p>
<p id="srh"> <input  #query (keyup)="filter(query.value)"type="text" class="form-control" placeholder="Search..."></p>

  <table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price $</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products$ |async"  >
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td >
                <button  type="button"class="btn btn-danger" (click)="deleter(p.key)">Delete</button>
            </td>
        </tr>
    </tbody>

</table>