<!-- <div id="home">
    <img src="https://image.freepik.com/free-psd/mock-up-card-with-organic-text-vegetables_23-2148322485.jpg" >
</div>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span id="one" class="navbar-brand mb-0 h1">PRODUCTS</span>
    </div>
  </nav>
<div class="row">
    <div *ngFor="let pro of homepro$ |async" class="card" style="width: 18rem;">
        <img [src]="pro.imageurl" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">{{pro.title}}</h5>
          <p class="card-text">{{pro.price |currency:'USD':true}}</p>
          <button class="btn btn-primary">Buy</button>
        </div>
      </div>

</div> -->
